DILHAN SARICA
Front End Web Developper
@marcelagency

Outils : Sublime Text 2, GIT, Photoshop
Langages: XHTML, HTML5, CSS2, CSS3, Sass, SVG, Javascript, PHP et SQL (notions de base)
Frameworks CSS: Compass
Frameworks JS : Jquery, Backbone, Underscore, Require, Grunt, Bower
Frameworks PHP : Codeigniter, Cakephp
API : Google Maps, Youtube, Facebook
Design : UX/UI Design, Responsive Design, progressive enhancement, userstory, emotional Design
Web :  W3C, POO, SGBD, UML, MVC, LAMP/WAMP

Latest Work
http://www.neperdezpaslefil.orange.fr/
http://candidature.fondationvocation.org/
http://reseaux.orange.fr/
https://www.youtube.com/user/axapeopleprotectors/custom
http://www.oasis-fruitstore.com/
http://www.oasis-effetpapayon.com/

Contact
<a href="mailto:dilhansarica@gmail.com">Mail me</a>
<a href="https://twitter.com/dilhansarica">Tweet me</a>