<div class="hide">

Outils : Sublime Text 2, GIT, Photoshop
Langages: XHTML, HTML5, CSS2, CSS3, Sass, SVG, Javascript, PHP et SQL (notions de base)
Frameworks CSS: Compass
Frameworks JS : Jquery, Backbone, Underscore, Require, Grunt, Bower
Frameworks PHP : Codeigniter, Cakephp
API : Google Maps, Youtube, Facebook
Design : UX/UI Design, Responsive Design, progressive enhancement, userstory, emotional Design
Web :  W3C, POO, SGBD, UML, MVC, LAMP/WAMP

Latest Work
http://www.neperdezpaslefil.orange.fr/
http://candidature.fondationvocation.org/
http://reseaux.orange.fr/
https://www.youtube.com/user/axapeopleprotectors/custom
http://www.oasis-fruitstore.com/
http://www.oasis-effetpapayon.com/

Contact
<a href="mailto:dilhansarica@gmail.com">Mail me</a>
<a href="https://twitter.com/dilhansarica">Tweet me</a>

</div>

<section id="hello">
    <header>
        <h1>Dilhan Sarica</h1>
        <h2>Front End Web Developper</h2>
    </header>
    <article class="introduction">
        <hgroup>
            <h2><span>I'm Dilhan</span></h2>
            <h3><span>I'm a Front End Web Developper</span></h3>
            <h5><span>I work at <a href="https://twitter.com/marcelagency" target="_blank">@marcelagency</a></span></h5>
        </hgroup>
        <dl>
            <dt>I like</dt>
            <dd>
                <ul>
                    <li><p><span>Creativity</span></p></li>
                    <li><p><span>Ambient Music</span></p></li>
                    <li><p><span>Animation</span></p></li>
                    <li><p><span>UX Design</span></p></li>
                    <li><p><span>Design</span></p></li>
                    <li><p><span>Game of Thrones</span></p></li>
                    <li><p><span>CSS</span></p></li>
                    <li><p><span>Interactiviy</span></p></li>
                    <li><p><span>Javascript</span></p></li>
                    <li><p><span>Boardgames</span></p></li>
                    <li><p><span>Programming</span></p></li>
                    <li><p><span>Spicy Food</span></p></li>
                    <li><p><span>TV Shows</span></p></li>
                    <li><p><span>Typography</span></p></li>
                    <li><p><span>Writing</span></p></li>
                </ul>
            </dd>
        </dl>
    </article>
</section>