section{
    //position:relative;
}

section>header { display: none }

#hello article.introduction {
    position: absolute;
    margin-top: -175px;
    color: #FFF;
    left: 5%;
    top: 50%;
}
#hello article.introduction h2 { font-weight: 600 !important }
#hello article.introduction h3,
#hello article.introduction h4 { font-weight: 400 !important }
#hello article.introduction h5,
#hello article.introduction h6,
#hello article.introduction dl { font-weight: 300 !important }
#hello article.introduction hgroup a {
    text-decoration: none;
    font-style: italic;
    letter-spacing: 0px;
    font-weight: 500;
    color: #FFF;
}
#hello article.introduction hgroup h2,
#hello article.introduction hgroup h3,
#hello article.introduction hgroup h4,
#hello article.introduction hgroup h5,
#hello article.introduction hgroup h6 {
    letter-spacing: -1px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 1px;
    font-size: 24px;
}
#hello article.introduction hgroup h2 span,
#hello article.introduction hgroup h3 span,
#hello article.introduction hgroup h4 span,
#hello article.introduction hgroup h5 span,
#hello article.introduction hgroup h6 span {
    background-color: #222222;
    display: inline-block;
    padding: 0 10px;
}
#hello article.introduction hgroup h2 {
    letter-spacing: -4px;
    line-height: 152px;
    font-size: 142px;
}
#hello article.introduction hgroup h2 span { padding: 0 20px 0 0 }
#hello article.introduction hgroup h3,
#hello article.introduction hgroup h4 {
    letter-spacing: -2px;
    line-height: 50px;
    font-size: 36px;
}
#hello article.introduction dl {
    letter-spacing: -1px;
    line-height: 40px;
    font-weight: 600;
    font-size: 24px;
}
#hello article.introduction dl dt {
    background-color: #222222;
    display: inline-block;
    padding: 0 10px;
}
#hello article.introduction dl dd {
    position:relative;

    display: inline-block;

    margin-left: -4px;

    height: 28px;
    width:200px;
}
#hello article.introduction dl dd ul {
    display: inline;
}
#hello article.introduction dl dd ul li {
    list-style: none;
    opacity: 1;
    position: absolute;
    left: 0;
    top:0;
    width:20px;
    height: 40px;
    display:inline-block;
    background-color: #222222;
    overflow: hidden;
    z-index:1;
    p{
        padding: 0 10px;
        color: $color-txt-blue;
        width:200px;
        opacity:0;
    }
    @include transition(width 1s $easeInOutCubic);
    &:first-child{
        display:inline-block;
    }
    &.active{
        z-index:2;
        p{
            @include transition(opacity 1s);
            opacity:1;
        }
    }
}

#hello article.introduction dl dd ul li span.old {
    color: rgba(167, 240, 22, 0.4);
    margin-left: 5px;
}
#hello article.introduction figure ul li:first-child { display: block }


@media screen and (max-width: 960px) {

}

@media screen and (max-width: 760px) {

}