@font-face {
    font-family: 'frank-demi';
    src: url('../fonts/fradm-webfont.eot');
    src: url('../fonts/fradm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fradm-webfont.woff') format('woff'),
         url('../fonts/fradm-webfont.ttf') format('truetype'),
         url('../fonts/fradm-webfont.svg#fradm') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frank-demi-it';
    src: url('../fonts/fradmit-webfont.eot');
    src: url('../fonts/fradmit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fradmit-webfont.woff') format('woff'),
         url('../fonts/fradmit-webfont.ttf') format('truetype'),
         url('../fonts/fradmit-webfont.svg#fradmit') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frank-medium';
    src: url('../fonts/framd-webfont.eot');
    src: url('../fonts/framd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framd-webfont.woff') format('woff'),
         url('../fonts/framd-webfont.ttf') format('truetype'),
         url('../fonts/framd-webfont.svg#framd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frank-book';
    src: url('../fonts/frabk-webfont.eot');
    src: url('../fonts/frabk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frabk-webfont.woff') format('woff'),
         url('../fonts/frabk-webfont.ttf') format('truetype'),
         url('../fonts/frabk-webfont.svg#frabk') format('svg');
    font-weight: normal;
    font-style: normal;
}
