

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin hidetxt{
    text-indent:-10000px;
    overflow:hidden;
}

@mixin position ($position: relative, $coordinates: 0 0 0 0, $fullsize:false) {

  @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }
    @if($fullsize == true){
        width:100%;
        height:100%;
    }
    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    position: $position;

    @if $top == auto {
        top: $top;
    }
    @else if not(unitless($top)) {
        top: $top;
    }

    @if $right == auto {
        right: $right;
    }
    @else if not(unitless($right)) {
        right: $right;
    }

    @if $bottom == auto {
        bottom: $bottom;
    }
    @else if not(unitless($bottom)) {
        bottom: $bottom;
    }

    @if $left == auto {
        left: $left;
    }
    @else if not(unitless($left)) {
        left: $left;
    }
}
