<div class="error-page-content">

    <h2>La vidéo a perdu le fil… </h2>
    <p>Veuillez nous excuser pour la gêne occasionnée.</p>
    <div>
        <a href="#experience" class="button white">Je recommence l'expérience</a>
    </div>

</div>