<div class="devices-content">

	<div class="step-devices step">


		<ul class="choose-devices">
			<li data-device="laptop-1" class="left">
                <div class="wrapper-spinner-devices">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
				<div class="circle-in">
					<div class="icon laptop"></div>
					<p><span class="icon-arrow"></span>Je continue sur <br/><span class="big">l'ordinateur</span></p>
				</div>
				<div class="arrow arrow-dir-7h">
					<img src="img/devices/directional-arrow-circle.gif" alt="">
				</div>
			</li>
            <li data-device="tab-1" class="right">
                <div class="wrapper-spinner-devices">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
                <div class="circle-in">
                    <div class="icon tablet"></div>
                    <p><span class="icon-arrow"></span>Je continue sur <br/><span class="big">la tablette</span></p>
                </div>
                <div class="arrow arrow-dir-5h">
                    <img src="img/devices/directional-arrow-circle.gif" alt="">
                </div>
            </li>
		</ul>
        <h2 class="orange">Le prof de gym débarque toujours au mauvais moment. </h2>
        <h4>Impossible de regarder la télévision. Comment faire ?</h4>
	</div>

	<div class="step-laptop step">

		<ul class="choose-devices">
			<li data-device="laptop-2">
                <div class="wrapper-spinner-devices" class="left">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
				<div class="circle-in">
					<div class="icon laptop"></div>
					<p><span class="icon-arrow"></span>Je continue sur <br/><span class="big">l'ordinateur</span></p>
				</div>
				<div class="arrow arrow-dir-8h">
					<img src="img/devices/directional-arrow-circle.gif" alt="">
				</div>
			</li>
		</ul>
        <h2 class="orange">Maintenant, ce sont les enfants qui s'y mettent !</h2>
        <h4>Vous les laissez s'amuser ou vous reprenez le contrôle ?</h4>
	</div>

	<div class="step-tab step">
		<ul class="choose-devices">
			<li data-device="tab-2" class="right">
                <div class="wrapper-spinner-devices">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
				<div class="circle-in">
					<div class="icon tablet"></div>
					<p><span class="icon-arrow"></span>Je continue sur <br/><span class="big">la tablette</span></p>
				</div>
				<div class="arrow arrow-dir-4h">
					<img src="img/devices/directional-arrow-circle.gif" alt="">
				</div>
			</li>
		</ul>
        <h2 class="orange">Impossible d'être tranquille ici !</h2>
        <h4>Un chat va vraiment vous faire perdre le fil ?</h4>
	</div>

	<div class="step-mobile-laptop step">
		<ul class="choose-devices">
			<li data-device="mobile-l"  class="left">
                <div class="wrapper-spinner-devices">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
				<div class="circle-in">
					<div class="icon mobile"></div>
					<p><span class="icon-arrow"></span>Je termine sur <br/><span class="big">le smartphone</span></p>
				</div>
				<div class="arrow arrow-dir-5h">
					<img src="img/devices/directional-arrow-circle.gif" alt="">
				</div>
			</li>
		</ul>
        <h2 class="orange">Impossible d'être tranquille ici !</h2>
        <h4>Un chat va vraiment vous faire perdre le fil ?</h4>
	</div>

	<div class="step-mobile-tab step">
		<ul class="choose-devices">
			<li data-device="mobile-t"  class="right">
                <div class="wrapper-spinner-devices">
                    <div class="bg-left bg">
                        <span></span>
                    </div>
                    <div class="bg-right bg">
                        <span></span>
                    </div>
                </div>
				<div class="circle-in">
					<div class="icon mobile"></div>
					<p><span class="icon-arrow"></span>Je termine sur <br/><span class="big">le smartphone</span></p>
				</div>
				<div class="arrow arrow-dir-7h">
					<img src="img/devices/directional-arrow-circle.gif" alt="">
				</div>
			</li>
		</ul>
        <h2 class="orange">Maintenant, ce sont les enfants qui s'y mettent !</h2>
        <h4>Vous les laissez s'amuser ou vous reprenez le contrôle ?</h4>
	</div>
</div>