<div class="divertissement-wrapper">
    <div class="center-content-header">
        <div class="left">
            <a href="#">
                <img src="img/common/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil">
            </a>
        </div>
    </div>
    <div class="divertissement-content">
        <h2>Réinventons le divertissement</h2>
        <p class="first">Avec la fibre et la Vidéo à la demande d’Orange, passez d’un écran à l’autre en toute fluidité. Profitez du meilleur du cinéma et des séries sans perdre le fil.</p>
        <a href="" class="vod button white">Tout savoir sur la VOD et la fibre Orange</a>

        <p class="orange">Partagez l’expérience avec vos amis ou parrainez-les et multipliez vos chances de gagner</p>

        <div class="divertissement-actions">
            <ul class="social-btns">
                <li><a href="http://r.orange.fr/r/EVTcom_fbdivert_npplf?ref=NPPLF_nav_extrait_btn_fb_divertissement" target="_blank" class="fb" ></a></li>
                <li><a href="http://r.orange.fr/r/EVTcom_twitterdivert_npplf?ref=NPPLF_nav_extrait_btn_twitter_divertissement" target="_blank" class="tw"></a></li>
                <li><a href="http://r.orange.fr/r/EVTcom_gplus_npplf?ref=NPPLF_nav_extrait_btn_gplus_divertissement" target="_blank" class="gPlus"></a></li>
            </ul>
            <ul class="parrain-btns">
                <li><a href="" class="parrain"></a></li>
            </ul>
        </div>

    </div>
    <a href="http://r.orange.fr/r/EVTcom_replay_npplf?ref=NPPLF_nav_extrait_btn_replay" class="replay">Rejouer avec un nouvel extrait</a>
</div>