<div class="dotations-wrapper">
    <div class="center-content-header">
        <div class="left">
            <a href="#">
                <img src="img/common/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil">
            </a>
        </div>
        <div class="right">
            <a href="#" class="close"></a>
        </div>
    </div>


    <div class="dotations-content">

        <div class="content">
            <h2>À gagner</h2>
            <p class="orange">Pour le grand gagnant</p>
            <p>
                Une TV haute-définition, une tablette Samsung, un smartphone Samsung et 50€ de tickets vidéo
            <p>
            <p class="orange">Du 2ème au 6ème gagnant</p>
            <p>
                Une tablette Samsung, un smartphone Samsung et 50€ de tickets vidéo
            <p>
            <p class="orange">Du 7ème au 11ème gagnant</p>
            <p>
                Un smartphone Samsung et 50€ de tickets vidéo
            <p>
            <p class="orange">Du 12ème au 41ème gagnant</p>
            <p>
                50€ de tickets vidéo
            <p>
            <p>Voir le détail des lots sur le <a target="blank" href="pdf/Reglement_de_jeu_NePerdezPasLeFil_2015.pdf">règlement</a></p>
        </div>

    </div>
</div>