<li>
    <div class="cards">
        <div class="card front">
            <a href="#">
                <img src="img/extraits/<%= poster %>" alt="<%= name %>" class="float-image"/>
            </a>
        </div>
        <div class="card back">
            <div class="middle">
                <p><%= description %></p>
                <a data-extrait="<%= name %>" class="button white">Je choisis cet extrait</a>
            </div>

            <div class="small-bottom">
                <p>
                    <%= movieInfo %>
                </p>
            </div>
        </div>

    </div>
</li>