<div class="game-rules-wrapper">

    <a href="/" class="close-popin"></a>

    <div class="game-rules-content">

        <h2>Réglement du jeu</h2>

        <div class="content scroll-pane">
            <a target="blank" href="pdf/Reglement_de_jeu_NePerdezPasLeFil_2015.pdf">Télécharger le règlement en PDF</a>
            <h4>ARTICLE 1 - Organisation</h4>
            <p>
                La société Orange (ci-après « l’Organisateur »), Société Anonyme au capital de 10 595 541 532 Euros  immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 380 129 866, dont le siège social est situé au 78 rue Olivier de Serres - 75505 Paris Cedex 15, domiciliée pour le règlement au 1, avenue Nelson Mandela 94 745 Arcueil, organise un jeu «Ne Perdez Pas Le Fil» (ci-après « le Jeu ») sans obligation d’achat du 19/02/15 au 19/03/15 inclus.
            <p>
            <h4>ARTICLE 2 - Participation</h4>
            <p>
                2.1 Ce Jeu est ouvert à toute personne physique majeure de plus de 18 ans, résidant en France Métropolitaine, clients Orange ou non Orange, hors entreprises et raisons sociales. Le service VOD [vidéo à la demande] d’Orange est réservé aux particuliers pour leurs besoins personnels et privés en France métropolitaine.
            </p>
            <p>Sont exclues de toute participation à ce Jeu, toutes les personnes ayant participé directement ou indirectement à l'élaboration du Jeu, notamment le personnel de la Société Organisatrice, celui de la de SCP NADJAR & Associés, huissiers de justice associés, située 164, Avenue Charles de Gaulle – 92523 - NEUILLY SUR SEINE cedex, dépositaire du présent Règlement ainsi que, pour chacune des catégories de personnes susvisées, les membres de leur famille (même nom, même adresse postale).</p>
            <p>La Société Organisatrice se réserve le droit de procéder à toutes vérifications qu'elle jugera utiles relatives notamment à l'identité et à l'adresse de chaque Participant, en vue de faire respecter les stipulations du présent article. À cet égard, toute indication portée dans le formulaire d'inscription visé à l'article 3 ci-après, qui serait incomplète, erronée, falsifiée, ne permettrait pas d'identifier un Participant ou ses coordonnées, ou contreviendrait à l'une ou quelconque des stipulations du présent Règlement entraînera l'annulation de sa participation.</p>
            <p>2.2 Ce Jeu est accessible sur le site www.neperdezpaslefil.orange.fr ci-après nommé « le Site». Le Jeu est également accessible par de la publicité sur le site www.orange.fr,  des sites partenaires (bannières e-pub), et les moteurs de recherche. </p>
            <p>2.3 Une seule participation maximum par foyer (même nom, même adresse postale). </p>
            <p>Toute participation initiée avec un email temporaire tel que @yopmail.com, @jetable.net, @jetable.com, @jetable.org, @spambox.us ne sera pas considérée comme valide et sera exclue.</p>
            <p>La participation est strictement nominative et un participant ne peut en aucun cas jouer sous plusieurs identités ni pour le compte d’autres participants.</p>
            <p>De même toute tentative de fraude quelle qu’elle soit visant à augmenter le nombre de participations entrainera le retrait et la disqualification du Jeu.</p>
            <p>L’Organisateur se réserve le droit d’exclure tout participant ne respectant pas l’équité du Jeu sans que cette décision ne puisse être contestée.</p>
            <p>Seules seront retenues les participations conformes à l’ensemble des stipulations du présent règlement. À cet égard, l’Organisateur se réserve le droit de procéder à toutes vérifications qu’il jugera utiles concernant notamment l’identité, l’âge et l’adresse de chaque participant, en vue de faire respecter les stipulations du présent article. Toute indication apportée par un participant dans le cadre de l’inscription au Jeu décrite à l’article 3 ci-après qui serait incomplète, erronée, falsifiée ou ne permettrait pas d’identifier ou de localiser ce participant, entraînera l’annulation de sa participation au Jeu.</p>
            <p>2.4 La participation au Jeu implique l’acceptation expresse et sans réserve du présent règlement, en toutes ses stipulations, des règles de déontologie en vigueur sur Internet (nétiquette, charte de bonnes conduites,…), ainsi que des lois et règlements en vigueur en France.</p>
            <h4>ARTICLE 3 - Principe du jeu : tirage au sort</h4>
            <p>
                Pour participer au Jeu l’internaute doit se connecter au Site. Il devra sélectionner un titre de film parmi les 3 proposés, regarder avec attention l’extrait du film choisi, puis compléter l’expérience proposée en répondant correctement à la question posée. Un tirage au sort effectué parmi l’ensemble des participants respectant les conditions du présent règlement et ayant donné la bonne réponse à la question désignera les gagnants.
            </p>
            <ul>
                <li>Si le participant a répondu correctement à la question, il sera automatiquement inscrit au tirage au sort.</li>
                <li>Si le participant n’a pas répondu correctement à la question, sa participation n’est pas prise en compte. Une seule participation par extrait de film est permise par jour, mais il pourra retenter sa chance sur cet extrait de film le lendemain.</li>
            </ul>
            <p>Le participant pourra tenter sa chance chaque jour sur les trois extraits de film et ainsi augmenter le nombre de chances de gain au tirage au sort.</p>
            <p>Une seule participation maximum par foyer (même nom, même adresse postale) par extrait de film, et par jour dans le cas où le participant n’a pas répondu correctement à la question posée à la fin de l’extrait et souhaite rejouer le lendemain. </p>
            <p>Chaque participant peut augmenter ses chances de gagner en invitant des amis via un système dit de parrainage : 1 chance supplémentaire par ami invité, dans la limite de 5 amis par extrait de film, donnant au maximum 15 chances supplémentaires pour le tirage au sort. Les adresses emails des amis invités devront être valides et existantes, et différentes de l’adresse email du participant parrain. </p>
            <p>En vue du tirage au sort, il ne sera conservé qu’une seule participation valide (avec la bonne réponse à la question) par participant et par film, augmentée par le nombre de chances supplémentaires liées au parrainage.</p>
            <h4>ARTICLE 4 – Désignation des gagnants</h4>
            <p>
                Le Jeu aura 41 gagnants désignés par tirage au sort dans les conditions exposées ci-dessus.
Chaque participant désigné gagnant sera informé par un email dans un délai de 7 jours ouvrés après le tirage au sort. Une relance par email lui sera également envoyée, dans un délai maximum de 7 jours ouvrés. Le gagnant devra répondre à cet email et communiquer à l’Organisateur son adresse complète au plus tard  7 jours ouvrés à compter de la réception de l’e-mail de relance.
Tout gagnant qui ne se sera pas manifesté avant cette date sera considéré comme ayant définitivement renoncé à son gain.
Ces données ne seront utilisées que pour la gestion du Jeu et ne seront pas conservées.
            </p>
            <h4>ARTICLE 5 - Dotations</h4>
            <p>
                Les dotations suivantes sont mises en jeu. Les dotations sont attribuées aux gagnants en fonction de l’ordre du tirage au sort visé plus haut.
            </p>
            <p>1er lot : <br>
-   1 TV écran plat HD (80 cm) d’une valeur de 374,49 euros TTC (troix cent soixante-quatorze euros quarante-neuf cents).<br>
-   une tablette Samsung Galaxy Tab 4 d’une valeur de 279 euros TTC (deux cent soixante-dix-neuf euros).<br>
-   un smartphone Samsung Galaxy S5 d’une valeur de 499,90 euros TTC (quatre cent quatre-vingt dix-neuf euros quatre-vingt dix cents).<br>
-   1 ticket Vidéo d'une valeur de 50 (cinquante) euros TTC  utilisable jusqu’au 31/12/2015 inclus, sur la TV d’Orange, sur orange.fr depuis votre ordinateur PC Windows / MAC et depuis l’application VOD d’Orange, sur  tablette et smartphone pour les abonnés internet haut débit ou très haut débit TV / Téléphone d’Orange, avec équipement compatible et uniquement sur orange.fr depuis un ordinateur PC Windows / MAC pour tout internaute, quel que soit le fournisseur d’accès.
</p>
<p> Du 2ème au 6ème gagnant, pour chacun :<br>
-   une tablette Samsung Galaxy Tab 4 d’une valeur de 279 euros TTC (deux cent soixante-dix-neuf euros).<br>
-   un smartphone Samsung Galaxy S5 d’une valeur de 499,90 euros TTC (quatre cent quatre-vingt dix-neuf euros quatre-vingt dix cents).<br>
-   1 ticket Vidéo d'une valeur de 50 (cinquante) euros TTC  utilisable jusqu’au 31/12/2015 inclus, sur la TV d’Orange, sur orange.fr depuis votre ordinateur PC Windows / MAC et depuis l’application VOD d’Orange, sur  tablette et smartphone pour les abonnés internet haut débit ou très haut débit TV / Téléphone d’Orange, avec équipement compatible et uniquement sur orange.fr depuis un ordinateur PC Windows / MAC pour tout internaute, quel que soit le fournisseur d’accès.
</p>
<p>
    Du 7ème au 11ème gagnant, pour chacun :<br>
-   un smartphone Samsung Galaxy S5 d’une valeur de 499,90 euros TTC (quatre cent quatre-vingt dix-neuf euros quatre-vingt dix cents).<br>
-   1 ticket Vidéo d'une valeur de 50 (cinquante) euros TTC  utilisable jusqu’au 31/12/2015 inclus, sur la TV d’Orange, sur orange.fr depuis votre ordinateur PC Windows / MAC et depuis l’application VOD d’Orange, sur  tablette et smartphone pour les abonnés internet haut débit ou très haut débit TV / Téléphone d’Orange, avec équipement compatible et uniquement sur orange.fr depuis un ordinateur PC Windows / MAC pour tout internaute, quel que soit le fournisseur d’accès.
</p>
<p> Du 12e au 41ème gagnant :<br>
-   1 ticket Vidéo d'une valeur de 50 (cinquante) euros TTC  utilisable jusqu’au 31/12/2015 inclus, sur la TV d’Orange, sur orange.fr depuis votre ordinateur PC Windows / MAC et depuis l’application VOD d’Orange, sur  tablette et smartphone pour les abonnés internet haut débit ou très haut débit TV / Téléphone d’Orange, avec équipement compatible et uniquement sur orange.fr depuis un ordinateur PC Windows / MAC pour tout internaute, quel que soit le fournisseur d’accès..
</p>
            <h4>ARTICLE 6 - Réception des lots gagnés</h4>
            <p>
                Les gagnants recevront leur dotation à l’adresse qu’ils auront indiquée par retour d’email à l’Organisateur dans un délai approximatif de 6 semaines à compter de l’annonce de leur gain.<br>

Toute coordonnée incomplète ou inexacte sera considérée comme nulle et ne permettra pas d’obtenir sa dotation, ni le renvoi de sa dotation dans le cas où la dotation nous est renvoyée par les services postaux. Les participations au Jeu seront annulées si elles sont incomplètes, erronées, contrefaites ou réalisées de manière contrevenante au présent règlement.<br>

Une liste de gagnants subsidiaires sera constituée. L’Organisateur se réserve le droit d’attribuer tout lot non attribué, non réclamé ou dont le gagnant initial a été exclu en raison du non-respect du présent règlement, d’une fraude, d’un problème technique affectant la désignation des gagnants ou d’un cas de force majeure.<br>

Le gagnant ne pourra prétendre obtenir la contre-valeur en espèces de la dotation gagnée ou demander son échange contre d’autres biens ou services.

            </p>
            <h4>ARTICLE 7 - Publicité et promotion des gagnants</h4>
            <p>
                Du seul fait de l’acceptation de leur prix, les gagnants autorisent l’Organisateur, à compter de l’obtention de leur gain, à utiliser en tant que tel leur prénom, leur ville de résidence, dans toutes manifestations publicitaires ou promotionnelles liées au présent Jeu, en France métropolitaine (Corse comprise) et sans que cela leur confère une rémunération, un droit ou un avantage quelconque autre que l’attribution de leur dotation.<br>

Dans le cas où un gagnant ne le souhaiterait pas, il devra le stipuler par email à l’administrateur de la page dans un délai de 8 jours à compter de l’annonce de son gain.<br>

A défaut de l’accord exprès des gagnants sur la citation de leur nom et prénom par email, l’Organisateur pourra citer le prénom ainsi que la première lettre du nom de famille de chaque gagnant sur ses plateformes de communication à savoir sur sa page Facebook https://www.facebook.com/Orange.France, Twitter https://twitter.com/Orange_France et Google plus https://plus.google.com/+OrangeFrance

            </p>
            <h4>ARTICLE 8 - Autorisation</h4>
            <p>Les participants autorisent l’Organisateur à procéder à toutes vérifications nécessaires concernant l’identité, le domicile et les droits des participants. Toute fausse déclaration entraîne automatiquement l’élimination du participant. </p>
            <h4>ARTICLE 9 - Modification du règlement</h4>
            <p>L’Organisateur se réserve le droit d’annuler, de reporter, de prolonger, d’écourter ou de modifier partiellement ou en totalité la présente opération si les circonstances l’y obligent et sans que sa responsabilité ne puisse être engagée en aucune manière de ce fait.<br>

        Chaque modification fera l’objet d’une annonce sur le Site et sera déposée comme le présent règlement auprès de l’huissier de justice ci-dessous.
            </p>
            <h4>ARTICLE 10 - Dépôt du règlement</h4>
            <p>Le présent règlement est déposé auprès de SCP NADJAR & Associés, huissiers de justice associés, située 164, Avenue Charles de Gaulle – 92523 - NEUILLY SUR SEINE cedex. Ledit règlement est librement disponible sur le Site et sur le site http://www.scp-nrj.com/jeux.php. </p>
            <h4>ARTICLE 11 - Informatique et libertés </h4>
            <p>Les données personnelles recueillies par message électronique sont obligatoires. Elles sont destinées à l’Organisateur, à la seule fin de la participation au Jeu, de la gestion des gagnants, de l’attribution de la dotation et pour satisfaire aux obligations légales et réglementaires. Elles pourront être communiquées aux prestataires de service et sous-traitants pour la seule exécution de travaux effectués pour le seul compte de l’Organisateur dans le cadre du présent Jeu.<br>
            Elles seront conservées uniquement pendant la durée du Jeu pour les seuls besoins du Jeu et ne seront pas utilisées à des fins de sollicitations commerciales. Elles ne seront ni vendues, ni cédées à des tiers, de quelque manière que ce soit.<br><br>

            Conformément à la Loi informatique et Liberté du 6 janvier 1978, les participants disposent d’un droit d’accès, de rectification et de radiation des données les concernant sur simple demande écrite par message privé à l’administrateur du Site.<br><br>

            Sous réserve de leur consentement explicite, les informations collectées sur les participants pourront être utilisées par l'Organisateur et/ou ses partenaires afin de mieux les servir et de les informer de leurs nouveaux produits et offres susceptibles de les intéresser.<br><br>

            Par ailleurs, chaque participant peut décider d'inviter certains de ses proches à participer au Jeu. Dans ce cas, le participant peut, en sa qualité de détenteur et de responsable du traitement des adresses email de ses proches, fournir à l'Organisateur l'adresse email de ces derniers afin que l'Organisateur leur envoie pour le compte du participant son message d'invitation à participer au Jeu.<br>
            Le participant prend la responsabilité de fournir l'adresse email de ses proches aux fins de l'envoi d'une telle invitation. Il s'engage à avoir obtenu le consentement explicite et informé des titulaires des adresses email qu'il fournit à l'Organisateur. L'Organisateur n'agit que sur la volonté et au nom du participant en qualité de prestataire technique d'envoi des messages du participant. L’Organisateur n’utilisera les adresses emails ainsi renseignées par les participants qu’aux seules fins d’envoi de l’invitation et ne les conservera pas une fois l’envoi réalisé.
            </p>
            <h4>ARTICLE 12 - Responsabilité</h4>
            <p>12.1 La responsabilité de l’Organisateur est strictement limitée à la délivrance des lots effectivement et valablement gagnés.<br><br>

            12.2 Il est expressément rappelé que l’Internet n’est pas un réseau sécurisé. L’Organisateur ne saurait donc être tenu pour responsable de la contamination par d’éventuels virus ou de l’intrusion d’un tiers dans le système du terminal des participants au Jeu et décline toute responsabilité quant aux conséquences de la connexion des participants au réseau via le Site.<br><br>

            Plus particulièrement, l’Organisateur ne saurait être tenu pour responsable d’un quelconque dommage causé aux participants, à leurs équipements informatiques et aux données qui y sont stockées, ainsi que des conséquences pouvant en découler sur leur activité personnelle ou professionnelle.<br><br>

            12.3 L’Organisateur décline toute responsabilité en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques, du matériel de réception empêchant le bon déroulement du Jeu.<br><br>

            L’Organisateur ne saurait davantage être tenu pour responsable au cas où un ou plusieurs participants ne pourraient parvenir à se connecter au Site ou à y jouer du fait de tout problème ou défaut technique lié notamment à l'encombrement du réseau.<br><br>

            Par ailleurs, il ne sera attribué qu’une dotation par gagnant, y compris dans l’hypothèse où un problème informatique entraînerait par erreur la délivrance de plusieurs messages « gagnants » à un seul et même destinataire.<br><br>


            12.4 L’Organisateur pourra annuler tout ou partie du Jeu s’il apparaît que des fraudes sont intervenues sous quelque forme que ce soit, notamment de manière informatique dans le cadre de la participation au Jeu ou de la détermination des gagnants. Il se réserve, dans cette hypothèse, le droit de ne pas attribuer les dotations aux fraudeurs et/ou de poursuivre devant les juridictions compétentes les auteurs de ces fraudes.<br><br>

            12.5 L’Organisateur fera tous ses efforts pour permettre un accès au jeu présent dans le Site à tout moment. L’Organisateur pourra, à tout moment, notamment pour des raisons techniques, de mise à jour, de maintenance, interrompre l’accès au Site et au Jeu qu’il contient.<br><br>


            L’Organisateur s’engage à mettre tous les moyens en œuvre avec ses prestataires pour que le système de détermination des gagnants et l’attribution des lots soit conforme au règlement du présent Jeu. Si malgré cela une défaillance survenait, l’Organisateur ne saurait être engagé à l’égard des participants au-delà du nombre de dotations annoncé dans le règlement du jeu et dans la publicité accompagnant le présent Jeu.<br><br>

            12.6 Enfin, la responsabilité de l’Organisateur ne peut être recherchée concernant tous les incidents qui pourraient survenir du fait de l’utilisation du lot attribué.
            </p>
            <h4>ARTICLE 13 - Loi applicable et juridiction</h4>
            <p>Le présent règlement est soumis à la loi française.<br><br>

En cas de contestation ou de réclamation, pour quelque raison que ce soit, les demandes devront être transmises à l’Organisateur dans un délai de 2 mois après la clôture du Jeu (cachet de la poste faisant foi).<br><br>

Tout litige né à l’occasion du présent Jeu et qui ne pourra être réglé à l’amiable sera soumis aux tribunaux compétents.
</p>
        </div>
    </div>
</div>