<div class="landing-content">
    <div class="logo">
        <h1><img src="img/landing/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil"/></h1>
    </div>
    <div class="gifts clearfix">
        <div class="left">
            <img src="img/landing/gifts.png" alt="">
        </div>
        <div class="right">
            <p>
                Avec la Vidéo à la demande d’Orange, passez d’un écran à l’autre pour ne jamais perdre le fil de vos films et séries préférés.
                <br/><br/>
                Votre mission : choisir parmi l’un des 3 extraits et <span class="orange">maintenir votre concentration au maximum</span>. Prêts à relever le défi ?
            </p>
            <a href="#experience" class="button white fleft demarrer">Lancer le jeu</a>
            <div class="clear"></div>
            <a href="#" class="dotations">Voir les dotations</a>
        </div>
    </div>


</div>
