<div class="layer-tram"></div>

<div class="layer-content">
    <div class="step-0 step">
    	<p class="big">Prêt ?</p>
    </div>

    <div class="step-3 step">
    	<p class="number">3</p>
        <p>Ouvrez grand les yeux</p>
    </div>

    <div class="step-2 step">
    	<p class="number">2</p>
        <p><span><%= instruction %></span> </p>
    </div>

    <div class="step-1 step">
    	<p class="number">1</p>
        <p>C'est parti</p>
    </div>
</div>

