<div class="mentions-wrapper">

    <a href="/" class="close-popin"></a>

    <div class="mentions-content">

        <h2>Mentions</h2>

        <div class="content scroll-pane">
            <p>Offres soumises à conditions en métropole.</p>
            <p>
                La Vidéo à la demande de la TV d’Orange est un service réservé aux abonnés Internet haut débit ou très haut débit TV / Téléphone d’Orange sur équipements compatibles. Le service sur PC/MAC est accessible quel que soit le fournisseur d’accès internet. Certains programmes ne sont pas disponibles pour les abonnés Orange dont la TV est desservie par satellite. Programmes en paiement à l’acte à partir de 0,49 €. Fibre en zone éligible sous réserve de raccordement. Détail sur orange.fr.
            <p>
        </div>
    </div>
</div>