<div class="error-page-content">

    <div class="logo">
        <a href="#">
            <img src="img/landing/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil"/>
        </a>
    </div>

    <p>Oups... Vous avez perdu le fil. <br/>Cette page n’existe pas.</p>
    <div>
        <a href="#experience" class="button white">Je recommence l'expérience</a>
    </div>

</div>