<div class="parrainage-wrapper">
    <div class="center-content-header">
        <div class="left">
            <a href="#">
                <img src="img/common/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil">
            </a>
        </div>
        <div class="right">
            <a href="#" class="close"></a>
        </div>
    </div>


    <div class="parrainage-content ">
        <div class="content scroll-pane">
            <p class="title">
                À chaque ami parrainé,<br/>
                <span class="orange">c’est une chance en plus de gagner !</span>
            </p>
            <form action="parrainage_submit" method="post" id="parrainage_form">
                <p class="msg-error">
                    Parrainer, c’est bien. Parrainer en donnant des adresses mails valides, c’est mieux.
                </p>
                <p class="form-header-title">Adresses e-mails de vos amis</p>
                <div class="field">
                    <input type="text" name="email1" value="" placeholder="" class="email1">
                </div>
                <div class="field">
                    <input type="text" name="email2" value="" placeholder="" class="email2">
                </div>
                <div class="field">
                    <input type="text" name="email3" value="" placeholder="" class="email3">
                </div>
                <div class="field">
                    <input type="text" name="email4" value="" placeholder="" class="email4">
                </div>
                <div class="field">
                    <input type="text" name="email5" value="" placeholder="" class="email5">
                </div>
                <input type="hidden" id="usermail" name="usermail" value="">
                <input type="hidden" id="extraitparrain" name="film" value="">

                <div class="field submit">
                    <div class="btms clearfix">
                        <a href="#" class="return button black">Retour</a>
                        <a href="#" class="valid button white">Valider</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
