<div class="error-page-content">

    <div class="logo">
        <img src="img/common/turn-device.png" alt=""/>
    </div>

    <p>
        Pour pouvoir jouer, merci de <br/>
        mettre votre tablette à l’horizontale
    </p>


</div>