<div class="timeline-wrapper clearfix">
	<div>
		<div class="videoProgressbar" id="tv-progress"></div>
		<div class="wrapper-icon tv">
			<div class="tv-icon icon"></div>
			<div class="point-icon"></div>
		</div>
	</div>
	<div>
		<div class="videoProgressbar" id="device1-progress"></div>
		<div class="wrapper-icon device1">
			<div class="laptop-icon icon"></div>
			<div class="tab-icon icon"></div>
			<div class="point-icon"></div>
		</div>
	</div>
	<div>
		<div class="videoProgressbar" id="device2-progress"></div>
		<div class="wrapper-icon device2">
			<div class="laptop-icon icon"></div>
			<div class="tab-icon icon"></div>
			<div class="point-icon"></div>
		</div>
	</div>
	<div>
		<div class="videoProgressbar" id="mobile-progress"></div>
		<div class="wrapper-icon mob">
			<div class="mobile-icon icon"></div>
			<div class="point-icon"></div>
		</div>
	</div>
</div>
