<video id="video-device">
	<source src="videos/<%= definition %>/<%= name %>/<%= video %>.mp4" type="video/mp4;">
	<source src="videos/<%= definition %>/<%= name %>/<%= video %>.webm" type="video/webm;">
	<source src="videos/<%= definition %>/<%= name %>/<%= video %>.ogv" type="video/ogv;">
</video>