<div class="videoContainer">
<!--     <div class="trame">

    </div> -->
    <div class="videoWrapper">
        <div class="wrapper-loader">
            <div class="loader">
                <img src="img/common/loader.gif">
            </div>
        </div>

    </div>
</div>