<div class="vod-wrapper">
    <div class="center-content-header">
        <div class="left">
            <a href="#">
                <img src="img/common/logo-ne-perdez-pas-le-fil.png" alt="Ne perdez pas le fil">
            </a>
        </div>
        <div class="right">
            <a href="#" class="close"></a>
        </div>
    </div>


    <div class="vod-content">
        <div class="clearfix">
            <div class="left">
                <h2>La VOD d'Orange</h2>
                <a class="button white" target="blank" href="http://r.orange.fr/r?ref=NPPLF_url_vod_orange&url=http://boutique.orange.fr/tv/video-a-la-demande">Qu'est-ce que la VOD d'Orange ?</a>
                <a class="button black" target="blank" href="http://r.orange.fr/r?ref=NPPLF_url_comment_ca_marche&url=http://assistance.orange.fr/utiliser-le-service-video-a-la-demande-sur-pc-et-mac-3289.php">Comment ça marche ?</a>
            </div>
            <div class="left">
                <h2>La fibre Orange</h2>
                <a class="button white" target="blank" href="http://r.orange.fr/r?ref=NPPLF_url_fibre_orange&url=http://reseaux.orange.fr/fibre-optique">Et pour encore plus de fluidité, profitez du très haut débit</a>
            </div>
        </div>

    </div>
</div>